In [8]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import wrangle
import prep
from scipy import stats

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [25]:
def mvp_model(xdf, ydf, y):
    lm = LinearRegression()
    rfe = RFE(lm, 5)
    X_rfe = rfe.fit_transform(xdf, ydf)
    poly = PolynomialFeatures(degree=4)
    X_poly = poly.fit_transform(X_rfe)
    lm_poly = LinearRegression()
    lm_poly.fit(X_poly, ydf[y])
    ydf['yhat_poly'] = lm_poly.predict(X_poly).round(1)
    RMSE_poly = np.sqrt(mean_squared_error(ydf[y], ydf.yhat_poly))
    return ydf

In [26]:
df = prep.prep_zillow_data()

In [27]:
X_train, y_train, X_validate, y_validate, X_test, y_test = wrangle.train_validate_test(df)

In [28]:
X_train_scaled, X_validate_scaled, X_test_scaled = wrangle.min_max_scale(X_train, X_validate, X_test)

In [30]:
mvp = mvp_model(X_test_scaled, y_test, 'taxvaluedollarcnt')
mvp

       taxvaluedollarcnt  yhat_poly
16254           323000.0   325228.0
19572           489857.0   419368.0
1631            406174.0   351312.0
12252            96661.0   478164.0
2736             68910.0   309802.0
...                  ...        ...
5130           1076164.0  1096556.0
13785           332000.0   201824.0
3405            408000.0   236616.0
14824           572000.0   512732.0
5467            288265.0   282670.0

[4196 rows x 2 columns]